/*CSS DOCUMENT*/

img {
    width: 100%; /*Please leave this line.*/
}
body {
  background-color: #DFE9F2;
  padding: 1em;
}

h1 {
  width: 12em;
}

h2{
  color: #3C5952;
  font-family: serif;
  font-size: 2.5em;
}

h3 {
  color: #757061;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
}

h4 {color: #3C5952;
  font-family: sans-serif;
}

p{
  padding: 0;
}

div.maintext{
  max-width: 36rem;
  margin: 1em auto;
}

figure{
  margin: 0;
}

.description {
  font-family: sans-serif;
}

.price{
  color: #757061;
  font-family: sans-serif;
  font-style: bold;
}

section.menu ul {
  padding: 0;
}

 nav ul {
  padding: 0.5em;
  margin-bottom: 1.5em;
  word-spacing: 0.8em;
  font-size: 1.5em;
 }
 nav ul li {
  display: inline;
  list-style-type: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.07em;
 }

 nav ul li a{
   text-decoration: none;
   color: #B0A994;
 }

 nav ul li a:hover{
   color: #82B298;
 }

 @media screen and (min-width: 60em){

  header {
    display: grid;
    margin-top: 3em;
    grid-template-columns:12em auto;
    padding: 2em;
  }

  nav ul{
    text-align: right;
    padding-top: 3em;
    word-spacing: 3em;
  }

  header img {
    padding: 0 0 0 1em;
  }

  main{
    max-width: 70em;
    margin: auto;
  }
  article{
    max-width: 70em;
    margin: auto;
  }
}
